<div class="bar bar-header" ng-hide="!error && !loading" ng-class="{'bar-positive': !error, 'bar-assertive': error}">
	<h1 class="title">{{message}}</h1>
	<button ng-show="error" ng-click="retry()" class="button button-light">
		Re-try
	</button>
</div>

<ion-tabs class="tabs-icon-only tabs-color-assertive">

  <ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab ng-hide="loading" ng-click="connection()" title="connection" icon="icon ion-bluetooth" badge="connected ? 'd/c' : 'c'">
  </ion-tab>

</ion-tabs>
